//fonts
$nav-mobile: 14px;
$nav-tablet-portrait: 16px;
$nav-tablet-landscape: 18px;
$nav-desktop: 20px;
$nav-desktop-large: 22px;

//https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80
//blue lighter : #4D7791;
//main blue : #2F4858;
//footer coolors

$main-blue: #008DD5;
$main-white: #FFFFFF;

$about-background: #F4F4F8;

$main-blue-dark: #00679B;
$main-blue-darkest: #00344E;
$main-blue-light: #E7F4FB;

$card-blue: #5CB6E4;


$footer-fontSize-desktop: 14px;